<footer class="footer">
  <div class="footer__top">
     <div class="container">
    <div class="row footer_main">
     <div class="col-lg-3 col-md-6">
      <div class="footer-contact">
       <img  class="footer-contact__icon" src="img/bcc-group-contact.png">
       <p class="footer-contact__tel"><i class="fa fa-phone footer_contact_phone" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;+994 12 4644028</p>
       <p class="footer-contact__fax"><i class="fa fa-fax footer_contact_phone" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;+994 12 4644029</p>
       <p class="footer-contact__emailfirst"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;office@bcc-grp.com</p>
       <p class="footer-contact__emailsecond">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;sales@bcc-grp.com</p>
       <ul class="socials">
         <li class="socials_list_item"><a href=""><i class="fa fa-facebook socials_list_item_icon" aria-hidden="true"></i></a></li>
         <li class="socials_list_item"><a href=""><i class="fa fa-twitter socials_list_item_icon" aria-hidden="true"></i></a></li>
         <li class="socials_list_item"><a href=""><i class="fa fa-google-plus socials_list_item_icon" aria-hidden="true"></i></a></li>
         <li class="socials_list_item"><a href=""><i class="fa fa-linkedin socials_list_item_icon" aria-hidden="true"></i></a></li>
         <li class="socials_list_item"><a href=""><i class="fa fa-instagram socials_list_item_icon" aria-hidden="true"></i></a></li>
       </ul>
     </div>
   </div>

   <div class="col-lg-3 col-md-6 footer_services">
    <h3>services <span class="footer_services_span"></span></h3>
 
    <ul class="footer_services_list">
      <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Construction</a></li>
      <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Procurement</a></li>
      <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Prefabric</a></li>
      <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Steel Products</a></li>
      <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Code Compliance</a></li>
      <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Network Installation</a></li>
    </ul>
  </div>

  <div class="col-lg-3 col-md-6 ">
    <h3>Latest Works <span class="footer_services_span"></span></h3>

    <div class="row latest_works_images">
      <div class="col-md-4 mb-3">
        <img class="img-fluid" src="img/footerimg1.png" alt="">
      </div>
      <div class="col-md-4">
        <img  class="img-fluid" src="img/footerimg2.png" alt="">
      </div>
      <div class="col-md-4">
        <img   class="img-fluid" src="img/footerimg3.png" alt="">
      </div>
      <div class="col-md-4">
        <img  class="img-fluid" src="img/footerimg4.png" alt="">
      </div>
      <div class="col-md-4">
        <img   class="img-fluid" src="img/footerimg5.png" alt="">
      </div>
      <div class="col-md-4">
        <img  class="img-fluid" src="img/footerimg6.png" alt="">
      </div>

    </div>

  </div>

  <div class="col-lg-3 col-md-6  footer_newsletter">
    <h3 class="">News Letter <span class="footer_services_span"></span></h3>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="ENTER YOUR EMAIL" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">GO!</button>
      </div>
    </div>
    <p>Subscribe to Our Newsletter to get the  Important News, The Amazing Offers &  Inside Scoops:</p>
  </div>
</div>
  </div>
</div>


<div class="footer__bottom">
  <div class="footer_copyright">
  <p class="text-center">BCC GROUP 2017 © All Rights Reserved. Sıte by NETSOFT</p>
</div>
</div>


</footer>





<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvRF6OqEKBlvoCCAWo30nK2Pg-X0CPkkc&callback=myMap"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="libs/jquery/dist/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="libs/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8" async defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" type="text/javascript" charset="utf-8" async defer></script>
<script src="js/all.min.js"></script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
  window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
  ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>
</html>
