<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" type="text/css" href="libs/normalize.css/normalize.css">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

    <link rel="stylesheet" type="text/css" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/main/main.min.css">
</head>

<section class="header">
    <div class="overlay">
        <div class="container">

            <div class="header__top ">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 offset-xl-4 offset-lg-2">
                        <div class="card flex-row flex-wrap">
                            <div class="border-0">
                                <img src="img/ICON2.png" class="img-fluid header__icon" alt="">
                            </div>
                            <div class="px-2 my-auto">
                                <h4 class="card-title">Call us</h4>
                                <p class="card-text">+994 12 4644028</p>

                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3  col-lg-4 col-md-5 col-sm-6">
                        <div class="card  flex-row flex-wrap">
                            <div class="border-0">
                                <img src="img/ICON1.png" class="img-fluid header__icon" alt="">
                            </div>
                            <div class="px-2">
                                <h4 class="card-title">Email us</h4>
                                <p class="card-text">office@bcc-grp.com</p>

                            </div>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-sm-12">
                        <div class="header__languages text-center">
                            <a href="#" class="header__link">AZ</a>
                            <a href="#" class="header__link">EN</a>
                            <a href="#" class="header__link">RU</a>
                        </div>

                    </div>

                </div>
            </div>

            <div class="row">
                <div class=" col-lg-2">
                    <div class="header__logo">
                        <img src="img/bcc-group-contact.png">
                    </div>

                </div>
                <div class="col-lg-10 ">

                    <nav class="navbar navbar-expand-lg navbar-light nav-justified">

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                <a class="nav-item nav-link active" href="index.html">Home <span class="sr-only">(current)</span></a>
                                <a class="nav-item nav-link" href="about.html">About Us</a>
                                <a class="nav-item nav-link" href="service.html">Services</a>
                                <a class="nav-item nav-link" href="services.html">Clients</a>
                                <a class="nav-item nav-link" href="blogArticle.html">Partners</a>
                                <a class="nav-item nav-link" href="singleProject.html">Projects</a>
                                <a class="nav-item nav-link" href="blog.html">News</a>
                                <a class="nav-item nav-link" href="contact.html">Contact Us</a>
                            </div>
                        </div>
                    </nav>

                </div>
            </div>
            <div class="header__bottom">
                <div class="row">

                    <div class="col-md-3">
                        <div class="header__linksWrapper">
                            <div class="header__links">
                                <a href="#" class="header__link1"><span class="header__linksFirstletter">E</span>ngineering</a>
                            </div>
                            <div class="header__links">
                                <a href="#" class="header__link1"><span class="header__linksFirstletter">P</span>rocurement</a>
                            </div>
                            <div class="header__links">
                                <a href="#" class="header__link1"><span class="header__linksFirstletter">c</span>onstruction</a>
                            </div>
                        </div>
                    </div>
                    
                        <div class="col-md-7 offset-md-2 text-left">
                            <p class="header__paragraph"><span class="header__paragraphU-line">WEL</span>COME TO <span class="header__paragraph-yellow">BCC GROUP</span></p>
                            <p class="header__little-paragraph">We Do Quality</p>
                        </div>


                   

                </div>

            </div>

        </div>
    </div>

</section>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->